
/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
}

p {
  border: 50px solid black;
  background-color: #A52A2A;
  width: 100%;
  height:500px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
}


